.header {
  display: flex;
  height: 104px;
  width: 100%;
  background-color: var(--lighter-application-main-color);
  // background-color: var(--header-background-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 95%;
    width: 100%;

    &--search {
      margin: 0 auto;
    }

    &--fx-wrapper {
      background-color: var(--header-background-fx-color);
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

    }

    &--fx-wrapper-thing {
      height: 200%;
      width: 200%;
      background-color: rgb(39, 39, 39, .4);
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      filter: blur(10px);
      clip-path: ellipse(25% 40% at 50% 50%);
      transform-origin: right;
      animation: strafe 180s linear infinite;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;

    &--toggle {

      outline: none;
      border: none;
      border-radius: 8px;
      background-color: transparent;
      padding: 8px;
      cursor: pointer;
      display: grid;
      place-content: center;
      transition: all .2s;
      background-color: rgba(184, 184, 184, 0.339);

      &:hover {
        background-color: rgba(162, 154, 154, 0.615);
      }

      &>mat-icon {
        align-self: flex-end;
        font-size: 32px;
        height: 32px;
        width: 32px;
      }
    }
  }

  &__actions {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium);
    background-color: var(--lighter-application-main-color);
    z-index: 1;
    backdrop-filter: blur(20px);
  }
}

@keyframes strafe {
  from {
    rotate: 360deg;
  }

  to {
    rotate: -360deg;
  }
}