<header class="header">
  <div class="header__background">
    <div class="header__glass">
      <div class="header__actions-left">
        <button class="header__menu-btn" (click)="toggleMenu.emit()">
          <svg class="header__menu-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
