.header {
    display: flex;
    height: 104px;
    width: 100%;
    background-color: var(--header-background-color);
    padding: var(--padding-medium);
    justify-content: center;
    align-items: center;

    &--search {
      margin: 0 auto;
    }

    &--sidebar {
      display: flex;
      flex-direction: column;

      & > mat-icon {
        align-self: flex-end;
        cursor: pointer;
      }
    }
  }
