:host {
    height: 100%;
    width: 100%;
}

.player {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track {

    width: 95%;
    height: 95%;
    background-color: black;
    border-radius: 8px;

    &__media-player {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__bot-wrapper {
        width: 100%;
        height: auto;
        background-color: transparent;
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;

    }
}

.actions {
    height: 100%;
    display: flex;
    align-items: center;

    &__left {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

dl-header {
    width: 100%;
}

.progress-bar {
    height: 8px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    pointer-events: none;

    &__runnable {
        height: 100%;
        width: 100%;
        background-color: rgba(138, 138, 138, 0.534);
        cursor: pointer;
        pointer-events: all;
        z-index: 1;

    }

    &__loaded {
        height: 8px;
        position: absolute;
        left: 0;
        background-color: rgba(184, 184, 184, 0.534);
        z-index: 2;

    }

    &__runned {
        width: 0;
        height: 100%;
        background-color: red;
        position: relative;
        z-index: 3;
    }

    &__handle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        pointer-events: all;
        z-index: 3;
    }
}