<div class="signup">
    <div class="signup__wrapper">
        <div class="signup__wrapper--form-container">
            <section class="form">
                <header class="form__header">
                    @if (mode() === 'signup') {
                    <span>Registrazione</span>
                    } @else {
                    <span>Accedi</span>
                    }
                    <button class="form__header--switch">
                        @if (mode() === 'signup') {
                        Accedi
                        } @else {
                        Registrazione
                        }
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </header>

                <form [formGroup]="sign_group" #form>
                    <section class="form__name-email">


                        <div class="form__name-input-wrapper">
                            @let validateNameRequired = !!(sign_group.controls.username?.touched && sign_group.controls.username?.errors?.['required']);

                            <input type="text" placeholder="Inserisci nome" formControlName="username" dlTooltip
                                message="Nome obbligatorio" [extraClass]="'error'"
                                [openOnTrigger]="validateNameRequired" [openOnHover]="false" [class.base-input--form-error]="validateNameRequired"
                                class="base-input base-input--form">

                        </div>

                        <div class="form__email-input-wrapper">
                            @let validateEmail = !!(sign_group.controls.email.touched && sign_group.controls.email.errors?.['email']);
                            <input type="email" placeholder="Inserisci email" formControlName="email" dlTooltip
                                message="Email invalida" [extraClass]="'error'"
                                [openOnTrigger]="validateEmail" [openOnHover]="false"
                                class="base-input base-input--form" [class.base-input--form-error]="validateEmail">
                        </div>

                    </section>

                    <section class="form__password">
                        <div class="form__password-input-wrapper">
                            <input type="password" name="password" autocomplete="off" placeholder="Inserisci password" formControlName="password"
                                class="base-input base-input--form">
                        </div>

                        <div class="form__password-confirm-input-wrapper">
                            <input type="password" name="password" autocomplete="off" placeholder="Conferma password" formControlName="passwordConfirm"
                                class="base-input base-input--form">
                        </div>
                    </section>


                </form>

                <footer class="form__footer">
                    <section class="form__actions">
                        <button class="form__submit base-button" type="submit" (click)="signup()">Registrati</button>
                    </section>
                </footer>
            </section>
        </div>
    </div>
</div>