.home {
  height: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container {
    background-image: url('../../utils/images/papers/bg-img2.png');
    width: 100%;
    height: 100%;
  }

  &__container-panel {
    backdrop-filter: blur(30px);
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
    padding: 12px;
  }

  &__dx-sidenav-wrapper {
    height: 100%;
    flex-basis: 20%;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 24px;
  }

  .tracks-section {
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 24px;

    .track {
      width: 250px;
      height: 250px;
      background-color: whitesmoke;
      border-radius: 8px;
      border: 1px solid lightgray;

      .track__image-wrap {
        width: 100%;
        height: 80%;
        background-color: goldenrod;
      }

    }

  }
}