<section class="home">
  <div class="home__wrapper">

    <div class="home__container">
      <div class="home__container-panel base-transparency">
        <div class="home__sx-sidenav-wrapper">
          <div class="home__sx-sidenav">
            <ul class="list">
              <li class="list__upload">
                <button class="list__upload-button" (click)="navigateToUpload()">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <span>Carica una traccia</span>
                </button>
              </li>
              <li class="list__upload">
                <button class="list__upload-button">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <span>Carica un album</span>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <section class="main">

          <!-- Category: Artisti Popolari -->
          <div class="category">
            <div class="category__header">
              <h2 class="category__header--title">Artisti popolari</h2>
            </div>
            <div class="category__body">
              @for (item of fakeArtists; track $index) {
              <div class="card artist-card">
                <div class="card__wrapper">
                  <div class="card__img-wrapper">
                    <img alt="{{item.name}}" src="../../../../public/assets/images/papers/bg-img2.png">
                    <div class="card__overlay">
                      <button mat-icon-button class="play-button">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="card__details">
                    <span class="card__name">{{item.name}}</span>
                    <span class="card__subtitle">Artista</span>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

          <!-- Category: Hit del momento -->
          <div class="category">
            <div class="category__header">
              <h2 class="category__header--title">Hit del momento</h2>
            </div>
            <div class="category__body">
              @for (item of tracks(); track $index) {
              <div class="card track-card" (click)="navigateToTrack(item)">
                <div class="card__wrapper">
                  <div class="card__img-wrapper">
                    <div class="card__img" [style.backgroundImage]="`url(${item.imagePath})`"></div>
                    <div class="card__overlay">
                      <button mat-icon-button class="play-button">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="card__details">
                    <span class="card__name">{{item.title}}</span>
                    <span class="card__subtitle">{{item.user.username}}</span>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

          <!-- Category: Albums -->
          <div class="category">
            <div class="category__header">
              <h2 class="category__header--title">Albums</h2>
            </div>
            <div class="category__body">
              @for (item of fakeArtists; track $index) {
              <div class="card album-card">
                <div class="card__wrapper">
                  <div class="card__img-wrapper">
                    <img alt="{{item.name}}" src="../../../../public/assets/images/papers/bg-img2.png">
                    <div class="card__overlay">
                      <button mat-icon-button class="play-button">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="card__details">
                    <span class="card__name">{{item.name}}</span>
                    <span class="card__subtitle">Album</span>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

        </section>

      </div>

    </div>
  </div>
</section>