.home {
  height: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container {
    background-image: url('../../../../public/assets/images/papers/bg-img2.png');
    width: 100%;
    height: 100%;
  }

  &__container-panel {
    backdrop-filter: blur(30px);
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
    padding: 12px;
  }

  &__dx-sidenav-wrapper {
    height: 100%;
    flex-basis: 20%;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 24px;
  }

  .main {
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 24px;

    &__wrapper {
      width: 100%;
      height: 100%;
      padding: 12px;
      display: grid;
      grid-template-rows: repeat(3, auto);
      row-gap: 12px;
      overflow-y: scroll;
      scrollbar-width: none;
      max-width: 1800px;

      &>div {
        border-radius: 12px;
      }

    }
  }

  .category {
    width: 100%;
    max-width: 100%;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px;

      &--title {
        font-size: 32px;
        color: ivory;
        user-select: none;
      }

      .search {
        height: 30px;
        width: 250px;
      }
    }

    &__body {
      color: ivory;
      overflow-x: scroll;
      scrollbar-width: thin;
      display: grid;
      grid-auto-flow: column;                   /* flow down then right */
      grid-auto-columns: 200px;                 /* column width */
      grid-template-rows: repeat(2, 150px);     /* exactly 2 rows */
      grid-auto-rows: 0;    
      row-gap: 20px;
      white-space: nowrap;
      width: 100%;
      max-width: 100%;
      
    }

    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      &--img-wrapper {

        overflow: hidden;
        border-radius: 50%;
        width: 100px;
        height: 100px;

        display: flex;
        justify-content: center;

        &>img {
          width: 100%;
          height: 100%;
        }

      }
    }
  }

}