<section class="home">
  <div class="home__wrapper">

    <dl-header (toggleSidenav)="sidenav_toggled.set(true)" />

    <div class="home__container">
      <div class="home__container-panel base-transparency">
        <div class="home__dx-sidenav-wrapper">
          <div class="home__dx-sidenav"></div>
        </div>

        <section class="main">
          <div class="category">
            <div class="category__header">
              <span class="category__header--title">Artisti popolari</span>
            </div>
            <div class="category__body">
              @for (item of fakeArtists; track $index) {
              <div class="category__card">
                <div class="category__card-wrapper">

                  <div class="category__card--img-wrapper">
                    <img alt="" src="../../../../public/assets/images/papers/bg-img2.png">
                  </div>
                  <div class="category__card--name">{{item.name}}</div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="category">
            <div class="category__header">
              <span class="category__header--title">Hit del momento</span>
            </div>
            <div class="category__body">
              @for (item of fakeArtists; track $index) {
              <div class="category__card">
                <div class="category__card-wrapper">

                  <div class="category__card--img-wrapper">
                    <img alt="" src="../../../../public/assets/images/papers/bg-img2.png">
                  </div>
                  <div class="category__card--name">{{item.name}}</div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="category">
            <div class="category__header">
              <span class="category__header--title">Albums</span>
            </div>
            <div class="category__body">
              @for (item of fakeArtists; track $index) {
              <div class="category__card">
                <div class="category__card-wrapper">

                  <div class="category__card--img-wrapper">
                    <img alt="" src="../../../../public/assets/images/papers/bg-img2.png">
                  </div>
                  <div class="category__card--name">{{item.name}}</div>
                </div>
              </div>
              }
            </div>
          </div>
        </section>

        <!-- 
        <section class="tracks-section">
          <div class="tracks-sections__container">
            @for (track of tracks(); let index = $index; track index) {
            <div class="track">
              <div class="track__title">
                {{ track.title }}
              </div>

              <div class="track__image-wrap">
                <img src="./src/app/utils/images/papers/guts-2k.jpg" class="track__image" alt="" >
              </div>

              <div class="track__actions">
                <button (click)="navigateToTrack(track)">play</button>
              </div>

            </div>

            }
          </div>
        </section> -->
      </div>

    </div>
  </div>
</section>

<dl-sidenav [sidenavToggled]="sidenav_toggled()" (backdropClick)="onBackdropClick()" (themeChanged)="onThemeChanged($event)"
  [style.width]="!sidenav_toggled() ? '0' : '100%'" />

<!-- <div class="actions-wrapper">

            <div class="thumbnail">
                <img src="../../../../public/assets/thumbnails/thumbnail_ph.jpg" [alt]="">
            </div>

            <div class="track-loader">
                <label class="track-loader__label" for="player">Scegli una traccia</label>
                <input type="file" id="player" class="track-loader__input" (input)="getFileData($event)"
                    accept="audio/mp3">
                <audio #audioSource class="track-loader__audioSrc"></audio>

                <div class="track-loader__action-btns-wrapper">
                    <button class="track-loader__action-btn track-loader__play-btn" mat-icon-button
                        (click)="  isTrackOnGoing() ? pauseTrack() : playTrack()">
                        @if(isTrackOnGoing()) {
                        <mat-icon>pause</mat-icon>
                        } @else {
                        <mat-icon>play_arrow</mat-icon>
                        }
                    </button>

                    <div class="track-loader__volume-wrapper">
                        <mat-icon>volume_up</mat-icon>
                        <mat-slider [discrete]="true" [max]="100" [min]="0" [showTickMarks]="true">
                            <input matSliderThumb [(value)]="this.trackVolume">
                        </mat-slider>

                    </div>

                </div>
            </div>
            <mat-progress-bar [bufferValue]="bufferTotal()" [value]="currentBuffer()"></mat-progress-bar>
        </div>

        <div class="tracks">

            <div class="tracks__tracks-wrapper">
                @for (t of tracks(); track $index) {
                <div class="tracks__track">
                    <div class="tracks__title">{{t.title}}</div>
                    <div class="tracks__play">
                        <button mat-icon-button (click)="playBotTrack(audioSourceBot)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <audio #audioSourceBot [src]="t.path" class="track-loader__audioSrc"></audio>

                    </div>
                </div>
                }
            </div>
        </div> -->

<!-- <div class="button_upload">
            <button mat-icon-button (click)="input.click()">
                <mat-icon>upload</mat-icon>
            </button>
        </div>
        <form enctype="multipart/form-data">
            <input type="file" name="track" #input (input)="uploadTrack($event)" style="display: none;">

        </form> -->