.home {
  height: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container {
    background-image: url('../../../../public/assets/images/papers/bg-img2.png');
    width: 100%;
    height: 100%;
  }

  &__container-panel {
    backdrop-filter: blur(30px);
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
    padding: 12px 0 0 0;
  }

  &__dx-sidenav-wrapper {
    height: 100%;
    flex: 1 0 20%;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 0px 24px 24px 0px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent--app-secondary-color);
    border-radius: 24px 0 0 24px;
    gap: 12px;

    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    padding: 12px;

    &>div {
      border-radius: 12px;
    }
  }

  .category {
    width: 100%;
    max-width: 100%;
    background-color: var(--transparent--app-main-color);
    flex-basis: 100%;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px;

      &--title {
        font-size: 32px;
        color: rgb(176, 176, 176);
        user-select: none;
      }

      .search {
        height: 30px;
        width: 250px;
      }
    }

    &__body {
      color: rgba(179, 179, 179, 0.711);
      display: flex;
      flex-wrap: wrap;
      scrollbar-width: thin;
      padding: 12px;
      row-gap: 6px;
      justify-content: center;
    }

    &__card {
      flex-basis: 12%;

      &--img-wrapper {

        overflow: hidden;
        border-radius: 50%;
        width: 100px;
        height: 100px;

        display: flex;
        justify-content: center;

        &>img {
          width: 100%;
          height: 100%;
          transition: all .2s;
        }
      }

      &--name {
        font-size: 18px;
      }
    }

    &__card-wrapper {
      width: 75%;
      padding: 8px 4px 6px 4px;
      cursor: pointer;
      transition: all .2s;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:hover {
        background-color: var(--lighter-transparent-app-main-color);

        & img {
          scale: 1.1;
        }
      }
      
    }
  }

}