@use './app/styles/global-reset.scss';
@use './app/styles/theme.scss';

:root {
    // #0a0a0a

    body.dark-theme {
        --application-main-color: #111111f7;
        --lighter-application-main-color: #2b2b2b;
        --transparent--app-main-color: rgba(25, 25, 25, .4);
        --transparent--app-secondary-color: rgba(30, 30, 30, .4);
        --lighter-transparent-app-main-color: rgba(59, 59, 59, 0.5);
        --contrast: #121212;

        --input-background-color: #595959;
        --input-border-radius: 6px;
        --input-border-color: #7e7e7e8a;

        --icon-search-color: #828282;
        --icon-search-darker-color: #b1b1b1;

        --padding-medium: 12px;
        
        --header-background-fx-color: #a71029c8;
        --header-background-f-lighter-color: #e88192c8;

        --sidenav-backdrop-color: #3636368d;

        --error-surface-color: #c48585;
        --error-text-color: #b11b1b;

        --user-badge-size: 50px;
        --user-badge-gap: 12px;
        --user-badge-padding: 12px;
        --font-color: rgb(169, 169, 169);

        --slide-toggle-border-color: rgb(57, 57, 57);
        --slide-toggle-background-color: rgb(39, 39, 39);
        --slide-toggle-handle-color: rgb(45, 45, 45);
        --slide-toggle-handle-border-color: rgb(77, 77, 77);


    }

    body.light-theme {
        
        --application-main-color: #e7e7e7;
        --lighter-application-main-color: #858585;
        --transparent--app-main-color: rgba(168, 168, 168, 0.4);
        --transparent--app-secondary-color: rgba(215, 215, 215, 0.4);
        --lighter-transparent-app-main-color: rgba(118, 118, 118, 0.5);
        --contrast: #c4c4c4;

        --input-background-color: #595959;
        --input-border-radius: 6px;
        --input-border-color: #cccccc8a;

        --icon-search-color: #828282;
        --icon-search-darker-color: #b1b1b1;

        --padding-medium: 12px;

        --header-background-fx-color: #e68d9cc8;
        --header-background-f-lighter-color: #45161ec8;

        --sidenav-backdrop-color: #3636368d;

        --error-surface-color: #c48585;
        --error-text-color: #b11b1b;

        --user-badge-size: 50px;
        --user-badge-gap: 12px;
        --user-badge-padding: 12px;

        --font-color: rgb(39, 39, 39);

        --slide-toggle-border-color: #e7e7e7;
        --slide-toggle-background-color: #e9e9e9;
        --slide-toggle-handle-color: #e7e7e7;
        --slide-toggle-handle-border-color: darkgray;

    }



    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        * {
            color: var(--font-color);
        }
    }
}

.base-input {
    // generale
    background-color: var(--input-background-color);
    padding: 2px 12px;

    // bordo
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border-color);
    // border: none ;// 1px solid rgba(157, 157, 157, 0.505);
    outline: none;

    // &:focus {
    //     border: 1px solid rgb(157, 157, 157, 0.8);
    // }

    box-shadow: rgba(86, 86, 87, 0.12) 0px 2px 4px 0px,
        rgba(86, 86, 87, 0.32) 0px 2px 16px 0px;
    color-scheme: dark;
    transition: border 125ms;

    &::placeholder {
        color: #b1b1b1;
    }

    &--error {
        border: 1px solid var(--error-surface-color);
    }
}

.base-button {
    border-radius: 18px;
    padding: 4px 12px;
    outline: none;
    border: 1px solid var(--input-border-color);
    background-color: transparent;
    color: var(--icon-search-darker-color);
    cursor: pointer;
}

.base-transparency {
    background-color: var(--transparent--app-main-color);
    backdrop-filter: blur(20px);
}

.dl-tooltip {
    width: max-content;
    min-width: 50px;
    max-width: 300px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 12px;
    color: black;
    position: absolute;
    left: 50%;
    right: 50%;
    text-align: center;
    padding: 8px;
    top: -28px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 150ms ease forwards;
    transform-origin: left;
    word-wrap: break-word;

    &--error {
        background-color: var(--error-surface-color);
        color: var(--error-text-color);

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: rgb(196, 133, 133);
            left: 50%;
            transform: translate(50%, 100%);
            bottom: 8px;
            rotate: 45deg;
        }
    }


}

@keyframes fadeIn {
    from {
        scale: .8;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}