.switcher {
    width: 88px;
    height: 32px;
    border-radius: 24px;
    position: relative;
    user-select: none;

    &--dark {
        background-color: black;
    }

    &--light {
        background-color: white;
    }

    &__toggle {
        height: 22px;
        width: 22px;
        background-color: blue;
        border-radius: 50%;
        top: 50%;
        left: 0%;
        transform: translate(20%, -50%);
        transform-origin: top;
        position: absolute;

        &--to-left {
            animation: toggleLight 325ms ease-out forwards;
            background-color: var(--font-color);
        }

        &--to-right {
            animation: toggleDark 325ms ease-out forwards;
            background-color: var(--font-color);
        }
    }
}

.animate {}

@keyframes toggleDark {
    0% {
        left: 0%;
        transform: translate(20%, -50%);
    }

    50% {
        width: 12px;
        height: 12px;
    }

    100% {
        left: 100%;
        transform: translate(-120%, -50%);
    }
}

@keyframes toggleLight {
    0% {
        left: 100%;
        transform: translate(-120%, -50%);
    }

    50% {
        width: 12px;
        height: 12px;

    }

    100% {
        left: 0%;
        transform: translate(20%, -50%);
    }
}